server {
        listen 80 default_server;
        listen [::]:80 default_server;

        access_log /var/log/nginx/log_{{ inventory_hostname }}.access.log;
        error_log /var/log/nginx/log_{{ inventory_hostname }}.error.log;

        include snippets/acmetool.snippet.conf;

        location ^~ / {
                return 403;
        }
}
