server {
        listen 80;
        listen [::]:80;

        server_name {{ site.name }};

        include snippets/{{ site.name }}_logging_site.snippet.conf;

        include snippets/acmetool_global.snippet.conf;

        location ^~ / {
                return 308 https://{{ site.name }}$request_uri;
        }
}
