error_log /var/log/nginx/log_{{ site.name }}.error.log;

{% if site.logging | default( nginx__default_enable_logging ) -%}
access_log /var/log/nginx/log_{{ site.name }}.access.log;
access_log on;
{% else %}
# access_log /var/log/nginx/log_{{ site.name }}.access.log;
access_log off;
{% endif %}
